{% extends "admin.html" %}
{% block subtitle -%}
{{ _('Problems') }}
{%- endblock %}
{% block content -%}
  <form method="POST" >
  <h3 class="user-heading">
    {{ _('All Problems') }}
    <span class="pull-right">
            <a href="{{ url_for('.courses') }}" class="btn btn-primary">{{ _('Back to Course') }}</a>
            <a class="btn btn-danger" data-toggle="modal" data-target="#myModal">{{ _('Delete') }}</a>
    </span>
  </h3>
  </form>
  {% for key in problem_dict.keys() -%}
    <h4 class = "table-heading" style="margin-top:50px">
        {{ _('Type  "%(type)s"', type=key) }}
    </h4>
    <table class="table table-hover">
        <thead>
            <th class="col-xs-2">{{ _('Chinese Name') }}</th>
            <th class="col-xs-2">{{ _('English Name') }}</th>
            <th class="col-xs-5">{{ _('Description') }}</th>
            <th class="text-right col-xs-1">{{ _('Modify') }}</th>
            <th class="text-right col-xs-2">{{ _('Action') }}</th>
        </thead>
        {% for problem in problem_dict.get(key) -%}
        <tr>
            <td class="problem-name col-xs-2">
                {{ problem.ch_name }}
            </td>
            <td class="problem-type col-xs-2">
                {{ problem.name }}
            </td>
            <td class="problem-description col-xs-5">
                {{ problem.desc }}
            </td>
            <td class="problem-edit text-right col-xs-1">
                {% if problem.name in problem_list -%}
                <a href="{{ url_for('admin.problem_edit',slug = problem.name,course = course_name,next=request.url) }}">
                    {{ _("Edit") }}
                </a>
                {%- else -%}
                    {{ _("Can not Edit") }}
                {%- endif %}
            </td>
            <td class="problem-action text-right col-xs-2">
                {% if problem.name in problem_list -%}
                <a href="{{ url_for('admin.course_delete_problem', name=course_name,p_name = problem.name,next=request.url) }}" class="btn btn-warning">{{ _('Delete') }}</a>
                {%- else -%}
                <a href="{{ url_for('admin.course_add_problem', name=course_name,p_name = problem.name, next=request.url) }}" class="btn btn-success">{{ _('Add') }}</a>
                {%- endif %}
            </td>
        </tr>
        {%- endfor %}
  </table>
 {%- endfor %}

<!-- Window to confirm the delete -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ _('Close') }}</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ _('Confirm your action') }}</h4>
            </div>
            <div class="modal-body">
                {{ _('Are you sure to delete this course? This operation cannot rollback.') }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Cancel') }}</button>
                <a type="button" class="btn btn-danger" href="{{ url_for('admin.course_delete', name=course_name) }}">{{ _('Confirm') }}</a>
            </div>
        </div>
    </div>
</div>
{%- endblock %}