{% extends "admin.html" %}
{% import "utility.html" as utility %}
{% block subtitle -%}
{{ _('Choose Course') }}
{%- endblock %}
{% block content -%}
<form role="form" class="form-adduser form-single" method="POST" >
  <h2 class="form-heading">{{ _('Choose Course') }}</h2>
  <h4 class = "table-heading" style="margin-bottom:20px; margin-top:20px">
      {% if course_name %}
        {{_('Current course "%(course)s"', course=course_name)}}
      {% endif %}
  </h4>
  {{ utility.form_group(form.name) }}
  <button type="submit" class="btn btn-success">{{ _('Confirm') }}</button>
  {{ form.hidden_tag() }}
</form>
{%- endblock %}




